body{
    background-image: url('peach.jpg');
    font-family: sans-serif;
}
.heading{
    margin-left: 13cm;
    font-weight: bold;
    font-size: 1cm;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  
  td, th{
    border: 1px solid white;
    padding: 16px;
    text-align: center;
    color: tomato;
  }
  
  tr:nth-child(even) {
    background-color: white;
  }


tr:nth-child(odd) {
    background-color: #080000;
    color: white;
}
span{
    font-weight: bold;
    color: brown;
    size: 3pt;
}
a:hover{
    color:yellowgreen;
}

.picture{
    text-align: center;
    display: block;
}
h3{

    color: orangered;text-align: center;
}